.search-container{
    margin: 20px auto;
    position: relative;
    width: 400px;
}
.input{
    border: none;
    border-bottom: 1px solid green;
    padding:50px 250px ;
    width: 100%;
    outline: none;
    font-size: 20px;
    color:black;
    

}